<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/users/new">Signup</a>
        </li>
        <li>
            <a href="/users/signin">Login</a>
        </li>
    </ul>
</nav>