<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Project 2</title>
</head>
<body>
    <h1>Sign up for your very own Your Habit Tracker!</h1>
    <form action="/users/signup" method="POST">
        Username: <input type="text" name="username" /><br />
        Password: <input type="password" name="password" /><br />
        <input type="submit" value="Signup" />
    </form>
    <a href="/users/signin">If you have already created an account please click to login!</a>
</body>
</html>