<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
   <script herf="/public/js/script.js"></script>
    <title>Project 2</title>
</head>
<body>
    <h1>Welcome To Your Habit Tracker: How are you doing?</h1>
<!-- signout -->

<!-- habits -->
    <input type="text">
    <button type="submit">New Habit</button>
</body>
</html>