<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Project 2</title>
</head>
<body>
    <h1>Welcome To Your Habit Tracker: Let's see your progress</h1>
    <form action="/users/login" method="POST">
        Username: <input type="text" name="username" /><br />
        Password: <input type="password" name="password" /><br />
        <input type="submit" value="Login" />
    </form>
    <a href="/users/new">No account? Why not sign up? Click here!</a>

</body>
</html>